body {
    font-family: Arial, sans-serif;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fdesygner.com%2Fblog%2Ffree-stock-photo-sites%2F&psig=AOvVaw0DIhGhUwyJGvsIY-Asi0Ms&ust=1739860531171000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMC4idyLyosDFQAAAAAdAAAAABAE");
    background-color: #f4f4f4;
    text-align: center;
    text-color: black
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

{
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #dddd;
  color: black;
}

footer {
    color: black;
    padding: 5px;
}
